:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.signup-form {
  margin-right: auto;
  margin-left: auto;
  margin-top: 150px;
  .error-msg {
    color: red;
    text-align: center;
  }
  h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2.5px;
  }
  .mat-form-field-wrapper {
    width: 500px;
  }
  .register-button {
    button {
      width: 200px;
      text-transform: uppercase;
      span {
        letter-spacing: 0.5px;
      }
    }
  }
}
