<p class="alert alert-danger text-center" role="alert" *ngIf="errorMessage">{{errorMessage}}</p>

<div *ngIf="(rover | json) !== '{}'" class="rover-wrapper" >
  <h1>Rover Details</h1>
  <div>
    <mat-card class="rover-card" >
      <mat-card-header>
        <mat-card-title>{{rover.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="container" >
          <div class="row">
            <div class="col-md-6">
              <p><span>Rover ID:</span> {{rover.id}}</p>
              <p><span>Launching Date:</span> {{rover.launch_date}}</p>
              <p><span>Landing Date:</span> {{rover.landing_date}}</p>
              <p><span>Status:</span> {{rover.status}}</p>
              <p><span>Max Sol:</span> {{rover.max_sol}}</p>
            </div>
            <div class="col-md-6">

              <!--Rover Camera Detail-->
              <mat-accordion class="rover-camera-detail">
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false"
                                     class="expansion-panel-wrapper">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <span>Rover Cameras</span>
                    </mat-panel-title>
                    <mat-panel-description>
                      <!--camera icon-->
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p class="camera-name" (click)="displayPictures(camera)"
                    *ngFor="let camera of rover.cameras"
                    [ngClass]="{'active': selectedCamera?.id === camera.id}"
                    title="{{camera.name}}">{{camera.name}}</p>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </div>

        <div class="text-center image-loader" *ngIf="fetchingImages && (selectedCamera | json) !== '{}'">Loading {{selectedCamera.name}} Images...</div>

        <!--Rover camera images crousel  -->
        <carousel *ngIf="cameraImages.length" [cellsToShow]=2 [width]=500>
          <div class="carousel-cell" *ngFor="let imageDetail of cameraImages">
            <img [src]="imageDetail.img_src">
          </div>
        </carousel>
      </mat-card-content>
    </mat-card>
  </div>

</div>
